

<% link_to "/#{slug}.html" do %>
  <div class="card" id= "<%=slug%>" >
      <div class="card__header">
        <h3><%= title.upcase  %></h3>
        <h4><%= number_to_currency(precio, unit: "€", separator: ",", delimiter: "", format: "%n %u")  %></h4>
      </div>
      <div class="card__frame">
        <%=image_tag image , class: 'card__image'  %>
      </div>



      <p class= "card__description"> <%= platos  %></p>
</div>
<% end %>
