<% t =  data.textos%>
<div class="show__right hidden" id= "form-right">
  <h2 class= "upcase margin-bottom-5 portrait-hidden"><%= t.order  %></h2>
  <div class="details" id= "order-line-1">
    <p><span id="order-line-1__number"></span> * <span id= "menu-name"><%=  menu.nombre%></span> </p>
    <p id="order-line-1__total"></p>
    <div class="hidden-form__group hidden">
      <%= text_field_tag :menús , :class => 'hidden-form__input', :id => "menus-field", required: true %>
    </div>
  </div>
  <div class="details transparent" id= "order-line-2">
    <p ><span id="order-line-2__number"></span> * <span id= "order-postre"></span></p>
    <p id="order-line-2__total"></p>
    <div class="hidden-form__group hidden">
      <%= text_field_tag :postres , :class => 'hidden-form__input', :id => "postres-field", required: true %>
    </div>
  </div>

  <div class="details" id= "order-line-total">
    <p class="upcase" id= "order-total"><%= t.total%></p>
    <p id="order-line-total__total"></p>
    <div class="hidden-form__group hidden">
      <%= text_field_tag :total , :class => 'hidden-form__input', :id => "total-field", required: true %>
    </div>
  </div>
  <div class="button hidden" id= "button-postre">
    <a href="#bebida"><%= t.next.upcase %></a>
  </div>
  <div class="button hidden" id= "button-bebida" >
    <a href="#datos"><%= t.next.upcase %></a>
  </div>
  <div class="button hidden upcase" id= "button-datos" >
    <%= submit_tag t.confirmar %>
  </div>
</div>
