<% t =  data.textos%>
<div class="show__right hidden" id= "form-right">
  <h2 class= "upcase margin-bottom-5"><%= t.order  %></h2>
  <div class="details" id= "order-line-1">
    <p><span id="order-line-1__number"></span> * <%=  menu.nombre%></p>
    <p id="order-line-1__total"></p>
  </div>
  <div class="details transparent" id= "order-line-2">
    <p ><span id="order-line-2__number"></span> * <span id= "order-postre"></span></p>
    <p id="order-line-2__total"></p>
  </div>
  <div class="details hidden" id= "order-line-3">
    <p ><span id="order-line-3__number"></span> * <span id= "order-bebida"></span></p>
    <p id="order-line-3__total"></p>
  </div>
  <div class="details" id= "order-line-total">
    <p class="upcase" id= "order-total"><%= t.total%></p>
    <p id="order-line-total__total"></p>
  </div>
  <div class="button" id= "button-postre">
    <%= t.next.upcase %>
  </div>
  <div class="button hidden" id= "button-bebida">
    <%= t.next.upcase %>
  </div>
  <div class="button hidden upcase" id= "button-datos">
    <%= submit_tag t.confirmar %>
  </div>
</div>
