<% t =  data.textos%>

<h4 class="align-center"><%= label_tag t.comensales, :class => 'first' %></h4>
  <div class="number-form">
    <div class="number-line">
      <%= partial(:'components/minus_sign') %>
      <%= number_field_tag :comensales, :value => 15 , :min => 15,  :id => 'comensales', :class => "number" %>
      <%= partial(:'components/plus_sign') %>
    </div>
  </div>
  <p class="minimo align-center" id= "minimo"><%= t.minimo  %></p>
  <h4 class="align-center" id= "price">
      Total <%= 15 *  menu.precio  %> €

</h4>
<br>
<div class="button" id= "button-next">
     Continuar
</div>

