<% t =  data.textos%>
<div class="own__instance">
  <button type="button" class="own__card" data-toggle="modal" data-target=<%= "#" + "#{id}exampleModal" %> >
    <h3 class="own__name">  <%= name  %></h3>

    <p class="own__price__number hidden">  <%= price  %></p>
    <h4 class="own__price">  <%= price  %>  €</h4>
  </button>



  <!-- Modal -->
  <div class="modal " id= <%= "#{id}exampleModal"%> tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle"><%= name  %></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="show__down">
            <h4 class="align-center"><%= label_tag t.cantidad, :class => 'first' %></h4>
            <%= number_field_tag name, :value => 0 , :min => 0,  :id => "#{name}id ", :class => "own__number-form" %>
          </div>
        </div>
        <div class="modal-footer">
          <div class=" show__button button button--back " id= "button-next" href="">
                 <a href="#1"><%= t.cancelar  %></a>
            </div>
            <div class=" show__button button button--total" id= <%="#{id}total"%> >
                 <a href=""> total <%= price  %></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
