<% t =  data.textos%>


    <div class="show__left padding-left-5" id="postre-form">
      <h1 class= "width30 "><%= t.seleccion_postre.upcase  %></h1>
      <h4 class= "underline width80 margin-top-3" > <%= t.quieres_postre %></h4>
      <div class="no-postre">
        <%= radio_button_tag  :postre, :value => "no" , :id => "no-postre"%>
        <label for="no-postre" class= 'no-postre__text'><span class="form__radio-circle"></span><%= t.no_postre %></label>
      </div>

      <div class="form__cards">
        <div class="row">
          <%= partial(:'components/form_card', :locals => { :postre => "brownie", :image => 'brownie.jpg', :name => t.brownie  }) %>
          <%= partial(:'components/form_card', :locals => { :postre => "tarta-limon", :image => 'tarta-limon.jpg', :name => t.tarta_limon}) %>
          <%= partial(:'components/form_card', :locals => { :postre => "tartaletas", :image => 'tartaletas.jpg', :name => t.tartaletas}) %>
          <%= partial(:'components/form_card', :locals => { :postre => "cesta-de-frutas", :image => 'cesta-de-frutas.jpg', :name => t.cesta_de_frutas }) %>
          <%= partial(:'components/form_card', :locals => { :postre => "tartaletas", :image => 'tartaletas.jpg', :name => t.tartaletas}) %>
          <%= partial(:'components/form_card', :locals => { :postre => "cesta-de-frutas", :image => 'cesta-de-frutas.jpg', :name => t.cesta_de_frutas }) %>
        </div>
      </div>
    </div>

