<% t =  data.textos%>


    <div class="show__left padding-left-2" id="postre-form">
      <h1><%= t.seleccion_postre.upcase  %></h1>
      <h4 class= "underline width80 margin-top-3" > <%= t.quieres_postre %></h4>
      <div class="option-label">
        <%= radio_button_tag  :postre, :value => "no" , :id => "no-postre-radio"%>
        <label for="no-postre-radio" class= 'option-label__text'><span class="form__radio-circle"></span><%= t.no_postre %></label>
      </div>

      <div class="form__cards">
        <div class="row cards__row">
          <%= partial(:'components/postre_card', :locals => {
              :postre => "brownie",
              :image => 'brownie.jpg',
              :name => t.brownie  }) %>
          <%= partial(:'components/postre_card', :locals => { :postre => "tarta-limon", :image => 'tarta-limon.jpg', :name => t.tarta_limon}) %>
          <%= partial(:'components/postre_card', :locals => { :postre => "tartaletas", :image => 'tartaletas.jpg', :name => t.tartaletas}) %>
          <%= partial(:'components/postre_card', :locals => { :postre => "cesta-de-frutas", :image => 'cesta-de-frutas.jpg', :name => t.cesta_de_frutas }) %>
          <%= partial(:'components/postre_card', :locals => { :postre => "tiramisu", :image => 'tiramisu.jpg', :name => t.tiramisu}) %>
          <%= partial(:'components/postre_card', :locals => { :postre => "tarta-choco", :image => 'chocolate.jpg', :name => t.tarta_choco }) %>
        </div>
      </div>
    </div>

