<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143600956-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-143600956-1');
    </script>


    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,300,700,900&display=swap" rel="stylesheet"  type='text/css'>


    <!-- Use title if it's in the page YAML frontmatter -->
    <%= favicon_tag 'chef-hat.png' %>
    <title><%= 'Caterino, el catering más barato de Barcelona'  || "Caterino" %></title>
    <%= stylesheet_link_tag "normalize", "application" %>

    <meta name="google-site-verification" content="8TgDPT_r4qsOA6Ix49iEllMp0l5ZZHpIYGoMDl8MevA" />

  </head>

  <body class="<%= page_classes %>">
    <%= partial(:'components/navbar')%>

    <%= yield %>


  </body>
</html>
