---
title: Welcome to Middleman
---
<% t =  data.textos%>
<header class= "header1">
  <p class= "header1__notice"><%=t.whatsapp %> </p>
  <div class="header1__text">
    <h1 class= "header1__title"><%=t.header1  %></h1>
    <h2 class= "header1__subtitle"><%=t.header2_1  %></h2>
    <h2 class= "header1__subtitle"><%=t.header2_2  %></h2>
    <button class="button button--black button--header" href="#menu-cards">
      <a href="#menu-cards" class= "header--link"><%= "Elige vuestro menú"%></a>
    </button>
  </div>
  <div class="header1__frame">
    <%= image_tag "miniburgers.png", class: "header1__image" %>
  </div>
</header>
<section class="instructions">
  <div class="row">
      <% data.instructions.each do |instruction| %>
        <div class="col-xs-12 col-sm-6  col-md-3">
          <li>
            <%= partial(:'components/instructions', :locals => {
              :name => instruction.name,
              :number => instruction.number,
              :image => instruction.image }) %>
          </li>
         </div>
      <% end %>
    </div>
</section>
<section class="content">
  <div class="cards" id="menu-cards">
    <div class="row">
      <% data.menus.each do |menu| %>
        <div class="col-xs-12 col-sm-6  col-md-4">
          <li>
            <%= partial(:'components/card', :locals => {
              :title => menu.nombre,
              :precio => menu.precio,
              :image => menu.image,
              :platos => menu.platos,
              :slug => menu.slug }) %>
          </li>
         </div>
      <% end %>
    </div>
  </div>
</section>

<section class="instructions">
  <div class="row">
      <% data.occasions.each do |occasion| %>
        <div class="col-xs-12 col-sm-6  col-md-4">
          <li>
            <%= partial(:'components/occasions', :locals => {
              :name => occasion.name,
              :image => occasion.image }) %>
          </li>
         </div>
      <% end %>
    </div>
</section>

