---
title: Caterino: el Catering más barato de Barcelona!
---
<% t =  data.textos%>
<header class= "header1">
  <%= link_to t.como_funciona , '/about.html', :class => "header1__link"%>
  <div class="header1__text">
    <h1 class= "header1__title"><%=t.header1  %></h1>
    <h2 class= "header1__subtitle"><%=t.header2_1  %></h2>
    <h2 class= "header1__subtitle"><%=t.header2_2  %></h2>
    <button class="button button--black button--header" href="#menu-cards" id= "button--home">
      <a href="#menu-cards" class= "header--link"><%= "Elige vuestro menú"%></a>
    </button>
  </div>
  <div class="header1__frame">
    <%= image_tag "miniburgers.png", class: "header1__image" %>
  </div>
</header>
<section class="instructions instructions--first">
  <div class="row">
      <% data.instructions.each do |instruction| %>
        <div class="col-xs-6 col-sm-3">
          <li>
            <%= partial(:'components/instructions', :locals => {
              :name => instruction.name,
              :number => instruction.number,
              :image => instruction.image }) %>
          </li>
         </div>
      <% end %>
    </div>
</section>
<section class="content">
  <div class="cards" id="menu-cards">
    <h3 class= "category-title"><%= t.estrellas %></h3>
    <div class="row cards__row">
      <% data.menus.estrellas.each do |menu| %>
        <div class="col-xs-12 col-sm-6  col-md-4">
          <li>
            <%= partial(:'components/card', :locals => {
              :title => menu.nombre,
              :precio => menu.precio,
              :image => menu.image,
              :platos => menu.platos,
              :slug => menu.slug }) %>
          </li>
         </div>
      <% end %>
    </div>


  <h3 class= "category-title"><%= t.coffee_breaks %></h3>
  <div class="row cards__row">

      <% data.menus.coffees.each do |menu| %>
        <div class="col-xs-12 col-sm-6  col-md-4">
          <li>
            <%= partial(:'components/card', :locals => {
              :title => menu.nombre,
              :precio => menu.precio,
              :image => menu.image,
              :platos => menu.platos,
              :slug => menu.slug }) %>
          </li>
         </div>
      <% end %>
    </div>
  </div>


</section>

<header class= "header2">
  <div class="header2__text">
    <h2 class= "header2__title"><%=t.encuentras  %></h2>
    <br>
    <p class= "header2__subtitle"><%=t.selecciona  %></p>
    <br>
    <button class="button button--black button--header" href="/own.html">
      <a href="/a-medida" class= "header--link"><%=t.crea %></a>
    </button>
    <br><br>
  </div>
  <div class="header2__frame">
    <%= image_tag "miniburgers.png", class: "header2__image" %>
  </div>
</header>

<section class="content">
  <h3 class= "category-title"><%= t.pasteles %></h3>
  <% link_to "/pasteles.html" do %>
    <header class= "header3" style="background-image: linear-gradient(rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 50%), url('images/pastel-chocolate-hl.jpg')">
      <div class="header3__text">
        <h3 class= "header3__title"><%=t.pasteles_banner %></h3>
        <br>
        <h4 class= "header3__subtitle"><%=t.pasteles_banner2  %></h4>
        <h4 class= "header3__subtitle"><%=t.pasteles_banner3  %></h4>
        <br>
        <br><br>
      </div>
    </header>
  <%end  %>

</section>


<section class="occasions">
  <div class="row">
      <% data.occasions.each do |occasion| %>
        <div class="col-xs- col-md-4">
          <li>
            <%= partial(:'components/occasions', :locals => {
              :name => occasion.name,
              :image => occasion.image }) %>
          </li>
         </div>
      <% end %>
    </div>
</section>
<%= partial(:'components/footer')%>
