
<% t =  data.textos%>

<% menu = data[menu] %>
<div class="show">


<h1><%=menu.nombre  %></h1>
<h2 id= "precio" ><%=menu.precio  %></h2>

<% form_tag 'https://formcarry.com/s/IPZZAEv8L9X', :class => 'form', :method => 'POST' do %>
  <% field_set_tag do %>
    <p class= "hidden">
      <%= label_tag :menu, :class => 'first' %>
      <%= text_field_tag :menu, :value => menu.nombre %>
    </p>

    <p>
      <%= label_tag t.comensales, :class => 'first' %>
      <%= text_field_tag :comensales, :value => 15 , :id => 'comensales'%>
    </p>
    <p>
      <%= t.postre %>
      <%= radio_button_tag :postre  %>
    </p>

    <div class="button" id= "button-price">
      euros
    </div>

    <p>
      <%= label_tag t.nombre, :class => 'first' %>
      <%= text_field_tag :nombre %>
    </p>

    <p>
      <%= label_tag t.apellidos, :class => 'first' %>
      <%= text_field_tag :apellidos %>
    </p>

    <p>
      <%= label_tag t.email, :class => 'first' %>
      <%= email_field_tag :email %>
    </p>

    <p>
      <%= label_tag t.telefono, :class => 'first' %>
      <%= text_field_tag :telefono %>
    </p>
    <p>
      <%= label_tag t.fecha, :class => 'first' %>
      <%= date_field_tag :fecha %>
    </p>

     <p>
      <%= label_tag t.direccion, :class => 'first' %>
      <%= text_field_tag :direccion %>
    </p>

     <p>
      <%= label_tag t.ciudad, :class => 'first' %>
      <%= text_field_tag :ciudad %>
    </p>

     <p>
      <%= label_tag t.CP, :class => 'first' %>
      <%= text_field_tag :CP %>
    </p>


  <% end %>
  <% field_set_tag(:class => 'buttons') do %>
    <%= submit_tag t.confirmar %>
  <% end %>
<% end %>
</div>
