
<% t =  data.textos%>

<% menu = data[menu] %>
<div class="show">
  <div class="show__background">
  </div>
  <% form_tag 'https://formcarry.com/s/IPZZAEv8L9X', :class => 'form', :method => 'POST' do %>
    <% field_set_tag :class => 'fieldset-1', id: "f1" do %>
    <div class="show__content">
      <div class="show__left">
        <%= image_tag 'images/PANSCOMPANY.jpg', class: "show__image" %>
      </div>
      <div class="show__right">
        <h1><%=menu.nombre.upcase  %></h1>
        <h2 id= "precio" class= "hidden" ><%=menu.precio %></h2>
        <h2  ><%=number_to_currency(menu.precio, unit: "€", separator: ",", delimiter: "", format: "%n %u")   %></h2>
        <div class="platos">
          <% menu.platos.each do |plato| %>
            <p><%= plato %></p>
          <% end %>
        </div>
        <p class= "hidden">
          <%= text_field_tag :menu, :value => menu.nombre %>
        </p>
        <br>
        <br>
        <br>
        <%= partial(:'components/number_form', :locals => { :menu => menu}) %>
      </div>
    </div>
    <% end %>
<!-- ************************POSTRE************************************** -->
    <% field_set_tag :class => 'fieldset-2 hidden', id: "f2" do %>
      <div class="show__content">
        <div class="show__left padding-left-5" id="postre-form">
          <h1 class= "width30 "><%= t.seleccion_postre.upcase  %></h1>
          <h4 class= "underline width80 margin-top-3" > <%= t.quieres_postre %></h4>


              <div class="no-postre">

                <%= radio_button_tag  :postre, :value => "no" , :id => "no-postre"%>
                <span class="form__radio-circle"></span>

                <label for="no-postre" class= 'no-postre__text'><%= t.no_postre %></label>

            </div>

          <div class="form__cards">
            <div class="row">

              <%= partial(:'components/form_card', :locals => { :postre => "brownie", :image => 'brownie.jpg', :name => t.brownie  }) %>

              <%= partial(:'components/form_card', :locals => { :postre => "tarta-limon", :image => 'tarta-limon.jpg', :name => t.tarta_limon}) %>

              <%= partial(:'components/form_card', :locals => { :postre => "tartaletas", :image => 'tartaletas.jpg', :name => t.tartaletas}) %>
              <%= partial(:'components/form_card', :locals => { :postre => "cesta-de-frutas", :image => 'cesta-de-frutas.jpg', :name => t.cesta_de_frutas }) %>

              <%= partial(:'components/form_card', :locals => { :postre => "tartaletas", :image => 'tartaletas.jpg', :name => t.tartaletas}) %>
              <%= partial(:'components/form_card', :locals => { :postre => "cesta-de-frutas", :image => 'cesta-de-frutas.jpg', :name => t.cesta_de_frutas }) %>

          </div>
        </div>
        <div class="show__right">
          <h2 class= "upcase margin-bottom-5"><%= t.order  %></h2>
          <div class="details" id= "order-line-1">
            <p><span id="order-line-1__number"></span> * <%=  menu.nombre%></p>
            <p id="order-line-1__total">230 €</p>
          </div>
          <div class="details transparent" id= "order-line-2">
            <p ><span id="order-line-2__number"></span> * <span id= "order-postre"></span></p>
            <p id="order-line-2__total">230 €</p>
          </div>
          <div class="details" id= "order-line-total">
            <p class="upcase" id= "order-total"><%= t.total%></p>
            <p id="order-line-total__total"></p>
          </div>
          <div class="button" id= "button-postre">
            <%= t.next.upcase %>
          </div>
        </div>
      </div>
    <% end %>
<!-- ************************DATOS************************************** -->

    <% field_set_tag :class => 'fieldset-3 hidden', id: "f3" do %>
      <div class="show__content">
        <p>
          <%= label_tag t.nombre, :class => 'first' %>
          <%= text_field_tag :nombre %>
        </p>
        <p>
          <%= label_tag t.apellidos, :class => 'first' %>
          <%= text_field_tag :apellidos %>
        </p>
        <p>
          <%= label_tag t.email, :class => 'first' %>
          <%= email_field_tag :email %>
        </p>
        <p>
          <%= label_tag t.telefono, :class => 'first' %>
          <%= text_field_tag :telefono %>
        </p>
        <p>
          <%= label_tag t.fecha, :class => 'first' %>
          <%= date_field_tag :fecha %>
        </p>
        <p>
          <%= label_tag t.direccion, :class => 'first' %>
          <%= text_field_tag :direccion %>
        </p>
        <p>
          <%= label_tag t.ciudad, :class => 'first' %>
          <%= text_field_tag :ciudad %>
        </p>
        <p>
          <%= label_tag t.CP, :class => 'first' %>
          <%= text_field_tag :CP %>
        </p>
        <%= submit_tag t.confirmar %>
      </div>
    <% end %>
  <% end %>
</div>
<%= javascript_include_tag "application" %>
